<form action="/newuser" method="post">

    <span>username</span>
    <br><input type="text" name="user[username]">
    <br><span>password</span>
    <br><input type="password" name="user[password]">
    <br><span>email to contacts</span>
    <br><textarea name="user[email]"></textarea>

    <br><span>contacts emails</span>
    <br><input type="text" name="user[contact01]"/>
    <br><input type="text" name="user[contact02]"/>
    <br><input type="text" name="user[contact03]"/>
    <br><input type="text" name="user[contact04]"/>
    <br><input type="text" name="user[contact05]"/>

    <br><input type="submit" value="Submit">

</form>
