<div id="setStatus">
	<a class="button safe" href="#">
		<span class="pretitle">I am</span>
		<span class="title">safe</span>
		<span class="subtitle">Don't worry</span>
	</a>
	<a class="button danger" href="#">
		<span class="pretitle">I am</span>
		<span class="title">in danger</span>
		<span class="subtitle">Alert my friends</span>
	</a>
</div>

<div id="currentStatus">
	Watchdog thinks you are <span id="currentStatusText">{{status}}</span>
</div>


