<nav id="menu">
	<a href="/">Sign out</a>
</nav>

<div id="setStatus">
	<a class="button safe" href="#">
		<span class="pretitle">I am</span>
		<span class="title">safe</span>
		<span class="subtitle">Don't worry</span>
	</a>
	<a class="button danger" href="#">
		<span class="pretitle">I am</span>
		<span class="title">in danger</span>
		<span class="subtitle">Alert my friends</span>
	</a>
</div>

<div id="currentStatus">
	Watchdog thinks you are <span id="currentStatusText">{{status}}</span>
</div>

<div id="friends">
	<h2>We will contact these people if you are in danger:</h2>
	
	<ul>
		<li>
			<a href="#" id="addContact">
				Add a contact
			</a>
		</li>
		<li>
			<span class="pic">
				<img src="/images/furgus.png"/>
			</span>
			<span class="name">
				Furgus Doyle
			</span>
		</li>
		<li>
			<span class="pic">
				<img src="/images/gerard.png"/>
			</span>
			<span class="name">
				Gerard Rallo
			</span>
		</li>
		
		<li>
			<span class="pic">
				<img src="/images/joe.png"/>
			</span>
			<span class="name">
				Joe Lanman
			</span>
		</li>
	</ul>
</div>

<div id="activity">
	<h2>Your recent activity online:</h2>
	
	<ul>
		<li class="facebook">
			<span class="message">
				Commented on Joe Smith's photo: "Ha I remember...
			</span>
		</li>
		
		<li class="twitter">
			<span class="message">
				Posted "Down with the government!"
			</span>
		</li>
		
		<li class="skype">
			<span class="message">
				Called Mo Klikas
			</span>
		</li>
	</ul>
</div>


