<div id="setStatus">
	<a href="#">
		<span class="title">I am safe</span>
		<span class="subtitle">Don't worry</span>
	</a>
	<a href="#">
		<span class="title">I am in danger</span>
		<span class="subtitle">Alert my friend</span>
	</a>
</div>

<div id="currentStatus">
	Watchdog thinks you are <span id="currentStatusText">{{status}}</span>
</div>


