<h1>Current status of {{username}}</h1>
<p>{{status.status}} {{#status.status}}(Active on {{status.active_sources}}){{/status.status}}</p>
{{#last_checkins}}
<p>{{checkin.source}}: {{status}}</p>
{{/last_checkins}}
